<footer class="bg-purple-900 text-white py-6 mt-10">
  <div class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center gap-4">

    <div class="text-center md:text-left">
      <h5 class="text-lg font-bold">TeoC-EDU</h5>
      <p class="text-sm text-gray-300">© {{ currentYear }} Todos os direitos reservados.</p>
    </div>

    <div>
      <div class="flex space-x-4">
        <a href="https://www.linkedin.com/in/carloscarneiroaugusto/" target="_blank">
          <img src="/linkedin.png" alt="Linkedin" class="w-8 h-8 hover:opacity-80 transition">
        </a>

        <a href="https://github.com/carlos-augusto-carneiro" target="_blank">
          <img src="/github.png" alt="Github" class="w-8 h-8 hover:opacity-80 transition">
        </a>
      </div>
    </div>

    <div class="flex space-x-4">
      <a href="#" class="text-gray-300 hover:text-white transition">Privacidade</a>
      <a href="#" class="text-gray-300 hover:text-white transition">Termos</a>
      <a href="#" class="text-gray-300 hover:text-white transition">Contato</a>
    </div>

  </div>
</footer>
